# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# hidden files
.git
.idea
.ipynb_checkpoints
.virtual_documents
.token
.external
# temporary or data files
__pycache__
sample/
input/
temp/
output/
cache/
log/
figs/